* {
    margin:0;
    padding:0;
}
html {
    height:100%;
    width:100%;
}
body {
    height:100%;
    width:100%;
    #background-image: url('wallpaper.jpg');  
    background-image: url('bg1920.png');  
}